@{
    Layout = "~/TemplateViews/Shared/_NoPlatformLayout.cshtml";
}

<div class="text-center">
    <h2>@EPX_Template1.TemplateResources.Application.UserRoleNotAllowed.UserNotAllowed</h2>
    <h3>@EPX_Template1.TemplateResources.Application.UserRoleNotAllowed.UserNotAllowedReason</h3>
</div>
