@{
    Layout = "~/TemplateViews/Shared/_NoPlatformLayout.cshtml";
}

<div class="text-center">
    <h2>@SocNetEPX.TemplateResources.Application.PlatformNotAllowed.ThePlatformIsNotAvailable</h2>
    <h3>@SocNetEPX.TemplateResources.Application.PlatformNotAllowed.TheUserHasNoAccessToTheSelectedPlatform</h3>
</div>