@{
    Layout = "~/TemplateViews/Shared/_NoPlatformLayout.cshtml";
}

<div class="text-center">
    <h2>@EPXSocNet.TemplateResources.Application.NoPlatformSelected.NoPlatform</h2>
    <h3>@EPXSocNet.TemplateResources.Application.NoPlatformSelected.APlatformSelectionRequirement</h3>
</div>
