@{
    Layout = "~/TemplateViews/Shared/_NoPlatformLayout.cshtml";
}

<div class="text-center">
    <h2>@EPXSocNet.TemplateResources.Application.PlatformNotAllowed.ThePlatformIsNotAvailable</h2>
    <h3>@EPXSocNet.TemplateResources.Application.PlatformNotAllowed.TheUserHasNoAccessToTheSelectedPlatform</h3>
</div>