@{
    Layout = "~/TemplateViews/Shared/_NoPlatformLayout.cshtml";
}

<div class="text-center">
    <h2>@EPXSocNet.TemplateResources.Application.UserRoleNotAllowed.UserNotAllowed</h2>
    <h3>@EPXSocNet.TemplateResources.Application.UserRoleNotAllowed.UserNotAllowedReason</h3>
</div>
