@{
    Layout = "~/TemplateViews/Shared/_ErrorLayout.cshtml";
}

<h1 class="number text-center"></h1>
<h2 class="description text-center">@EPXSocNet.TemplateResources.Application.UserHasNoAccess.SorryButUserHasNoAccess</h2>
<h3 class="text-center"></h3>