<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>

    <style>
        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }

        .link {
            fill: none;
            stroke: #bbb;
        }

        .page1 {
            text-align: center;
            width: 73%;
            height: 100%;
            float: left;
        }

        .page2 {
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
            width: 27%;
            height: 100%;
            float: left;
            background-color: lightgray;
        }

        .pageHolder {
            overflow: auto;
            width: 100%;
            height: 610px;
            margin-bottom: 5%;
        }

        .inputbox {
            width: 90px;
            height: 20px;
            vertical-align: middle;
        }

        .checkboxfactors {
            position: relative;
            right: 5px;
            margin-left: 4px;
            vertical-align: -3px;
        }
    </style>
    @section scripts{

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
        <script src="~/Scripts/d3.min.js"></script>
        <script src="~/Scripts/myApp.js"></script>
    }


</head>
<!-- // call the app -->
<body ng-app="myApp">
    <div class="pageHolder" ng-controller="refreshCtrl">
        <div id="id1" class="page1">
            <div>
                <button ng-click="refresh()" ng-show="false">odśwież</button>
                Wybierz sieć:
                <select ng-model="selectedNetwork" ng-options="x.name for x in networks" ng-change="refresh(); getDates(); getVertex()"></select>
                @*<button ng-click="addNew()">Dodaj nową sieć</button>*@
                <br/>
                <div>
                    Wybierz datę:
                    <select ng-model="selectedDate" ng-options="date for date in dates" ng-change="refresh()"></select>
                    Wyświetl otoczenie wierzchołka:
                    <select ng-model="selectedVertex" ng-options="vertex.name for vertex in vertices" ng-change="refresh()"></select>
                    <br/>
                    @*                    Wyłącz z widoku grafu wierzchołek początkowy:
                    <input type="checkbox" ng-model="checkInclude" ng-true-value="0" ng-false-value="1" ng-click="refresh()" />*@
                </div>
            </div>
            @*<svg style="width:100%;height:100%;"></svg>*@
            <svg style="width:100%;height:92%;"><div my-graph></div></svg>

        </div>
        <div id="id2" class="page2" ng-controller="myCtrl">
            <form name="form1">
                @*<h5>(Kliknij na wierzchołek, aby go wybrać)</h5>
                    Id wierzchołka: <br /><input type="text" name="index" ng-model="vert.index">
                    <br />
                    Nazwa: <br /><input type="text" name="name" ng-model="vert.name">
                    <br />
                    Krawędzie wychodzące: <br /> <input type="text" name="edges" ng-model="vert.edges"/>*@
                <h3>Współczynniki sieci</h3>
                <p>(zaznacz, które chcesz obliczyć: )</p>
                <br />
                <label><input type="checkbox" class="checkboxfactors" ng-model="checkIndegree" />Indegree centrality</label>
                <br />
                <label><input type="checkbox" class="checkboxfactors" ng-model="checkOutdegree" />Outdegree centrality</label>
                <br />
                <label><input type="checkbox" class="checkboxfactors" ng-model="checkBetweenness" />Betweenness centrality</label>
                <br />
                <label><input type="checkbox" class="checkboxfactors" ng-model="checkCloseness" />Closeness centrality</label>
                <br />
                <label><input type="checkbox" class="checkboxfactors" ng-model="checkInfluence" />Influence range</label>
                <br />
                <label><input type="checkbox" class="checkboxfactors" ng-model="checkDensity" />Density</label>
                <br />
                <br />
                <button ng-click="countFactors(); uncheckAll()" style="display: block; margin: 0 auto;">Oblicz</button>
                <br />
                <br />
                <div ng-model="factors">{{factors.status}}</div>
                <div ng-show="showFactors" ng-model="factors">
                    <ul>
                        <li>Gęstość sieci: <input type="text" class="inputbox" ng-model="factors.density"></li>
                    </ul>
                    <h5>Średnie współczynniki:</h5>
                    <ul>
                        <li>Indegree centrality: <input type="text" class="inputbox" ng-model="factors.avInCen"></li>
                        <li>Outdegree centrality: <input type="text" class="inputbox" ng-model="factors.avOutCen"></li>
                        <li>Closeness centrality: <input type="text" class="inputbox" ng-model="factors.avCloCen"></li>
                        <li>Betweenness centrality: <input type="text" class="inputbox" ng-model="factors.avBetCen"></li>
                        <li>Influence range: <input type="text" class="inputbox" ng-model="factors.avInfRan"></li>
                    </ul>
                </div>

            </form>
        </div>
    </div>

</body>
</html>