@{
    Layout = "~/TemplateViews/Shared/_ErrorLayout.cshtml";
}

<h1 class="number text-center">500</h1>
<h2 class="description text-center">@SocNet_EPX.TemplateResources.Application.Error.AnErrorOccurred</h2>
<h3 class="text-center">@SocNet_EPX.TemplateResources.Application.Error.RepairWorksInProgess</h3>