@{
    Layout = "~/TemplateViews/Shared/_NoPlatformLayout.cshtml";
}

<div class="text-center">
    <h2>@SocNet_EPX.TemplateResources.Application.NoPlatformSelected.NoPlatform</h2>
    <h3>@SocNet_EPX.TemplateResources.Application.NoPlatformSelected.APlatformSelectionRequirement</h3>
</div>
