@{
    Layout = "~/TemplateViews/Shared/_ErrorLayout.cshtml";
}

<h1 class="number text-center">404</h1>
<h2 class="description text-center">@SocNet_EPX.TemplateResources.Application.PageNotFound.PageDoesNotExist</h2>
<h3 class="text-center">@SocNet_EPX.TemplateResources.Application.PageNotFound.WouldYouLikeToGoToThe <a href="@Url.Action("Index", "Home")">@SocNet_EPX.TemplateResources.Application.PageNotFound.HomePage</a></h3>