@using SocNet_EPX.TemplateModels.Project

@model List<Project>

@if(Model.Count == 0)
{
    <a href="">@SocNet_EPX.TemplateResources.Project.GetUserAllowedProjects.ThereAreNoProejctsAvailable</a>
}

@foreach(var project in Model)
{
    <a href="" data-select-project-url="@Url.Action("SetUserProject", "User")" data-select-project-projecturi="@project.Uri">@project.Name</a>
}