@model SocNet.Models.AskApiFlickrFollower

@{
    ViewBag.Title = "Index";
}

<h2>Formularz pobierania Followersów użytkownika serwisu Flickr</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.networkID)
        @Html.TextBoxFor(model => model.networkID)
    </div>
    <div>
        @Html.LabelFor(model => model.initialVertex)
        @Html.TextBoxFor(model => model.initialVertex)
    </div>


    <input type="submit" value="Zbierz Followersów" />
}

