@{
    ViewBag.Title = "SocNet - Home";
    }

<p><b>SocNet is an web application, which allows collecting and analysing data from Twitter and Flickr.</b></p>
<br/>
<p>Click on tabs above.</p>



@*@EPXSocNet.Resources.Home.Index.Example
@EPXSocNet.Resources.Home.Index.What*@